ion-row {
    justify-content: flex-start;
    align-items: center;
    border-bottom: .01rem solid #cfcfcf;
}

p {
    margin: 0;
}

ion-icon {
    font-size: 1.5rem;
}

.notif-row-content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

.notif-userIcon-col {
    display: flex;
    max-width: 5rem !important;
    justify-content: center;
}

.notif-action-col {
    max-width: 5rem !important;
}