/* Remove border of last ionic item */
ion-item:last-child {
    --inner-border-width: 0;
}

ion-item {
    vertical-align: middle;
}

cdk-virtual-scroll-viewport {
    height: 20rem;          /* Height for scrolling list of users */
    width: 100%;
}