<div id = "container">
    <div class="message-header">
        <span class="name">
            {{ reference.firstName }} {{ reference.lastName }}
        </span>
    </div>
    <br>
    <div class="reference-content">
        <label>Address: </label>
        <span class = "address">
            {{  reference.address  }}
        </span>
        <br>
        <label>Phone Number: </label>
        <span class = "phoneNumber">
            {{  reference.phoneNumber  }}
        </span>
        <br>
        <label>Email: </label>
        <span class = "email">
            {{  reference.email  }}
        </span>
        <br>
        <label>Make: </label>
        <span class = "make">
            {{  reference.make  }}
        </span>
        <br>
        <label>Model: </label>
        <span class = "model">
            {{  reference.model  }}
        </span>
        <br>
    </div>
</div>