<!-- Content of the popover to be displayed when popover is shown -->
<ion-list>
    <ion-item button>
        <ion-label>Copy (WIP)</ion-label>
    </ion-item>
    <ion-item button>
        <ion-label>Turn off notifcations for replies (WIP)</ion-label>
    </ion-item>
    <ion-item button>
        <ion-label>Mark unread (WIP)</ion-label>
    </ion-item>
    <ion-item button (click)="startEdit()" [disabled]="!isMyMessage()">
        <ion-label>Edit Message</ion-label>
    </ion-item>
    <ion-item button>
        <ion-label>Forward Message (WIP)</ion-label>
    </ion-item>
    <ion-item button (click)="deleteMsg()" [disabled]="!isMyMessage()">
        <ion-label>Delete Message</ion-label>
    </ion-item>
</ion-list>