<div class="content-container">
    <ion-row class="ion-margin">
        <ion-col size="11">
            <h2>Notification Settings</h2>
        </ion-col>
        <ion-col size="1" class="flex-justify-end">
            <ion-icon
                size="large"
                name="close"
                color="primary"
                (click)="close()"
            ></ion-icon>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col class="flex-justify-end"> </ion-col>
        <ion-col class="flex-justify-end">
            <ion-label color="primary">
                <b>Turn off all notifications</b>
            </ion-label>
            <ion-toggle
                class="ion-margin-end"
                #allNotifOff
                [(ngModel)]="settings.disableAllNotifications"
            ></ion-toggle>
        </ion-col>
    </ion-row>

    <div class="list-container">
        <ion-list>
            <ion-item>
                <ion-label
                    >Allow notification badges - show the number of
                    notifications.</ion-label
                >
                <ion-checkbox
                    slot="start"
                    name=""
                    [(ngModel)]="settings.badgeEnabled"
                    [disabled]="allNotifOff.checked"
                ></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label
                    >Account alert - make sound and pop on screen.</ion-label
                >
                <ion-checkbox
                    slot="start"
                    name=""
                    [(ngModel)]="settings.soundEnabled"
                    [disabled]="allNotifOff.checked"
                ></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label
                    >Show notification preview - shows the beginning of a
                    message.</ion-label
                >
                <ion-checkbox
                    slot="start"
                    name=""
                    [(ngModel)]="settings.previewEnabled"
                    [disabled]="allNotifOff.checked"
                ></ion-checkbox>
            </ion-item>
            <!-- <ion-item>
                <ion-label>Receive a notification when you receive a new appointment.</ion-label>
                <ion-checkbox 
                    slot="start" 
                    name="" 
                    [disabled]="allNotifOff.checked"
                ></ion-checkbox>
            </ion-item> -->
            <ion-item>
                <ion-label
                    >Receive a notification when you receive a new
                    email.</ion-label
                >
                <ion-checkbox
                    slot="start"
                    name=""
                    [(ngModel)]="settings.notifyOnEmail"
                    [disabled]="allNotifOff.checked"
                ></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label
                    >Receive a notification when you receive a new
                    SMS.</ion-label
                >
                <ion-checkbox
                    slot="start"
                    name=""
                    [(ngModel)]="settings.notifyOnSMS"
                    [disabled]="allNotifOff.checked"
                ></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label
                    >Receive a notification when you receive a new direct
                    message.</ion-label
                >
                <ion-checkbox
                    slot="start"
                    name=""
                    [(ngModel)]="settings.notifyOnDirectMessage"
                    [disabled]="allNotifOff.checked"
                ></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label
                    >Receive a notification when I get
                    mentioned/tagged.</ion-label
                >
                <ion-checkbox
                    slot="start"
                    name=""
                    [(ngModel)]="settings.notifyOnMention"
                    [disabled]="allNotifOff.checked"
                ></ion-checkbox>
            </ion-item>
            <!-- <ion-item>
                <ion-label>Delete my notification after 10 days.</ion-label>
                <ion-checkbox 
                    slot="start" 
                    name="" 
                    [disabled]="allNotifOff.checked"
                ></ion-checkbox>
            </ion-item> -->
        </ion-list>
    </div>
</div>
