.messagesContainer {
    /* The parent element is 'position: relative' to allow this child element to anchor to its bottom edge */
    /* Parent element is <section class="conversation"> in the 'chatbox' component */
    position: absolute;
    bottom: 0;
}

#messagesContent {
    display: flex;
    flex-direction: column;

    /* Ensure the height never exceeds the parent in the flexbox, so we can scroll our content */
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
}

.image-container {
    padding: 10px;
    /* Inherit width and height of parent and fit image to it */
    /* Object-fit: cover allows to keep dimensions and fit over wrapper similiar to slack */
    width: 50%;
    height: 50%;
}
