<section class="messagesContainer" id="messagesContent">
    <!-- <ion-content id="messagesContent"> -->
    <!-- <ion-infinite-scroll
            (ionInfinite)="infiniteScroll($event)"
            position="top"
            threshold="500px"
        >
            <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more messages..."
            >
            </ion-infinite-scroll-content>
        </ion-infinite-scroll> -->
    <ng-container #msgContainer *ngFor="let val of c; trackBy: ngForTrackBy">
        <messages *ngIf="isMessage(val)" [message]="val"></messages>
        <app-profile-references *ngIf="isReference(val)" [reference]="val"></app-profile-references>
        <app-image-files *ngIf="isImage(val)" [image] = "val" class = "image-container"></app-image-files>
        <app-doc-files *ngIf="isDoc(val)" [doc] = "val" class = "doc-container"></app-doc-files>
    </ng-container>
    <!-- </ion-content> -->
</section>
