<div class="chatbox-container" *ngIf="displayChat == true">
    <section class="topbar-container">
        <div>
            <span class="header">{{ channelName }}</span>

            <div class="channel-options">
                <ion-icon name="person"></ion-icon>
                <span>{{ numChannelMembers }}</span>
            </div>
            <ion-icon name="chevron-down-outline" (click) = "presentChannelToolsPopover($event)"></ion-icon>
        </div>
        <userIcon
            [name]="this.socket.currentUser?.fullName ?? ''"
            [scale]="2"
            (click) = "presentUserToolsPopover($event)"
        ></userIcon>
    </section>

    <!--<section class="conversation" #scrollMe [scrollTop]="scrollMe.scrollHeight">-->
    <section class="conversation">
        <msgContainer></msgContainer>
        <!--Container for messages to be populated-->
    </section>
    <div class = "auto-complete">
        <user-tagging
        *ngFor="let option of tempOptions" 
        [user] = "option">
        </user-tagging>
    </div>
    <div class="input">
        <section class="conversation-input">
            <div 
            #textInput 
            contenteditable 
            class = "form-control editable" 
            data-placeholder = "Type a message..."
            (keyup)="handleInput($event)"
            ></div>
        </section>

        <!-- Show row for files if files were added -->
        <ion-row class="file-preview" *ngIf="!isEmptyFileDict()">
            <file-preview
                [file]="file.value"
                *ngFor="let file of files | keyvalue"
                (fileNameEvent)="removeFile($event)"
            ></file-preview>
        </ion-row>

        <section class="conversation-input-tools">
            <ion-icon
                name="paper-plane-outline"
                id="sendButton"
                (click)="sendMsg(textInput)"
                #sendButton
            ></ion-icon>
            <ion-icon
                name="attach-outline"
                (click)="presentAttachmentPopover($event)"
            ></ion-icon>
            <ion-icon 
            name="at-outline"
            (click)="handleAtSymbol()"
            ></ion-icon>
            <ion-icon name="happy-outline"></ion-icon>
            <ion-icon name="text-outline"></ion-icon>
        </section>
    </div>
</div>

<div hidden>
    <input
        #pictureInput
        type="file"
        accept="image/*"
        (change)="onSelectedFile($event)"
        multiple
    />

    <input
        #docInput
        type="file"
        accept="application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword"
        (change)="onSelectedFile($event)"
        multiple
    />
</div>
