<ion-content>
    <ion-list>
        <ion-item button>
            <span>Status (WIP)</span>
            <ion-icon 
                name="chevron-forward-outline"
                size="small"
                class="right-align blue"    
            ></ion-icon>
        </ion-item>
        <ion-item 
            button
            (click) = "notifClick()"
        >
            <span>Notification</span>
            <ion-icon 
                name="settings-outline"
                size="small"
                class="right-align blue"    
                ></ion-icon>
        </ion-item>
        <ion-item button>
            <span>Edit Profile</span>
            <ion-icon 
                name="settings-outline"  
                size="small"              
                class="right-align blue"    
            ></ion-icon>
        </ion-item>
        <ion-item button>
            <span>Sign Out</span>
            <ion-icon 
                name="chevron-forward-outline"
                size="small"
                class="right-align blue"        
            ></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>