<div
    class="component-wrapper"
    [ngStyle]="{ width: canPreview ? '5rem' : '7rem' }"
>
    <ion-icon
        name="close"
        class="closeBtn"
        (click)="outputFileName()"
    ></ion-icon>

    <span class="content-wrapper">
        <ng-container *ngIf="canPreview; else elseBlock">
            <img [src]="imgSource" />
        </ng-container>
        <ng-template #elseBlock>
            <span class="textBlock">
                {{ fileName }}
            </span>
        </ng-template>
    </span>
</div>
