<div class="msg-wrapper">
    <!-- Profile photo, name, and timestamp -->
    <div class="message-header">
        <userIcon [name]="senderName" [scale]="2"></userIcon>

        <span class="name">
            {{ senderName }}
        </span>

        <span class="timestamp">
            {{ message.timeSent?.toDateString() }}
        </span>

        <!-- Only shown if message was previously edited, using "this.wasEdited" boolean variable -->
        <span *ngIf="message.isEdited" class="edited-flag"> (edited) </span>

        <!-- Do not show if message was deleted -->
        <span class="toolbar" *ngIf="!message.isDeleted">
            <button #popoverBtn (click)="popclick($event, popoverBtn)">
                <ion-icon name="ellipsis-vertical"></ion-icon>
            </button>
        </span>
    </div>

    <!-- Container for what is displayed as main body of message -->
    <!-- Switches between 3 divs representing content for editing a message, a deleted message, and default content -->
    <ng-container [ngSwitch]="true">
        <!-- Content shown for editing a message. Only shown when message is being edited and message isn't deleted -->
        <div
            *ngSwitchCase="isEditing && !message.isDeleted"
            class="message-content"
        >
            <!-- Text box for when message is being edited -->
            <!-- Editable div was used as it had more reliable behaviors to responsive height -->
            <div
                #editedMsg
                (input)="textAreaAdjust(editedMsg)"
                class="edit-textbox"
                role="textbox"
                contenteditable
            >
                {{ message.message }}
            </div>

            <!-- Button group when editing a message -->
            <div class="actions">
                <ion-button
                    color="light"
                    size="small"
                    (click)="setIsEditing(false)"
                    >Cancel</ion-button
                >
                <ion-button
                    color="primary"
                    size="small"
                    (click)="saveMessage(editedMsg.innerText)"
                    >Save Changes</ion-button
                >
            </div>
        </div>

        <!-- Content shown if message was deleted -->
        <div *ngSwitchCase="message.isDeleted" class="message-content">
            <i>This message was deleted</i>
        </div>

        <!-- Content shown as default -->
        <div *ngSwitchDefault class="message-content" #messageContent>
            {{ message.message }}
        </div>
    </ng-container>
</div>
